.app-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .app-wrapper__sidebar {

    }

    .app-wrapper__content {

    }

        .app-wrapper__content__topbar {

        }

        .app-wrapper__content__main {

        }