// Delta variables file.
//
// Delta is designed to be configurable through the variables below. Each
// variable follows a tailor made naming convention. The first part of the
// variable name is the area or component that it will generally apply to. The
// second part of the variable name is a description of what the variable is.
// 
// The only exception to this naming convention rule is the global variables
// that are defined below.

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

// -----------------------------------------------------------------------------
// GLOBAL DEFAULT VARIABLES
// -----------------------------------------------------------------------------
$bodyColour:                    #F4F2F7;

$primaryColour:                 #6C5CC4;
$secondaryColour:               #BADBE4;
$tertiaryColour:                #FFF;

$fontPrimaryColour:             #676767;
$fontLessImportantColour:       #A4A4A4;
$fontEvenLessImportantColour:   #CDCDCD;

$fontBody:                      'Source Sans Pro';
$fontBodyWeight:                600;
$fontBodySize:                  14px;
$fontHeadingSize:               16px;
$fontIndicatorSize:             12px;

$paddingBasis:                  18px;
$marginBasis:                   18px;
// -----------------------------------------------------------------------------
// GLOBAL DEFAULT VARIABLES
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// SCREEN SIZE BREAKPOINTS
// -----------------------------------------------------------------------------
/* Breakpoints are screen sizes at which the layout of Delta will change. Be
   careful modifying these if you are not 100% sure about what you are doing. */
$breakpoints: (
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);
// -----------------------------------------------------------------------------
// SCREEN SIZE BREAKPOINTS
// -----------------------------------------------------------------------------